# Python Cache
__pycache__/
*.pyc

# Virtual Environments
venv/
env/
.venv/

# Mac/Windows Junk Files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Generated output files
*.html
!templates/*.html